.Header{
    position: fixed;   /* floating */
    width: 100%;
    padding: 50px 0;
    z-index: 100; /*to keep header always on top of everything*/
}
.HeaderGroup{
    max-width: 800px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(5,auto); /*5 elements and auto width*/
    align-items: center; /*for vertical*/
    justify-items: center; /*for horizontal*/
}

.Header a{
    color: white;
    font-weight: 700;
}

.Header button{
    padding: 8px 20px;
    font-size: 20px;
    background: #56CCF2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

@media(max-width:640px){
    .Header{
        padding: 15px 0;
    }
    .HeaderGroup{
        grid-template-columns: repeat(4, auto);
    }
    .Header a:nth-child(4){
        display: none;
    }
}